.not-found {
  margin-top: 74px;

  @include viewport($sm) {
    padding: 0 20px;
    text-align: center;
    margin-top: 0;
  }

  &-par {
    white-space: pre-line;
    font-size: 16px;
    letter-spacing: 0.045em;
    line-height: 1.7;

    @include viewport($sm) {
      text-align: left;
    }
  }

  &-button {
    display: inline-flex;
    background-color: color(blue);
    color: color(white);
    flex-direction: row-reverse;
    margin-top: 30px;
    height: 62px;
    padding: 0 38px;
    font-weight: bold;

    .button-icon {
      rotate: 180deg;
      top: 4px;

      svg {
        stroke: color(white);
      }
    }


  }
}