@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(color(white), 1);
  }

  100% {
    box-shadow: 0 0 0 50px rgba(color(white), 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(color(white), 1);
  }

  100% {
    box-shadow: 0 0 0 50px rgba(color(white), 0);
  }
}