.show-pc {

  @include viewport($md) {
    display: none;
  }
}

.show-sp {
  display: none;

  @include viewport($sm) {
    display: block;
  }
}

.show-tablet {
  @include viewport($md) {
    display: block;
  }
}