//antialiased,subpixel-antialiased,none
$breakpoint-pc: 1230px;
$breakpoint-mobile: 767px;
$breakpoint-mobile-l: 425px;

$sm: 640px;
$md: 767px;
$mmd: 940px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$wrapper-size: 1228px;

$font-noto-sans: 'Noto Sans JP', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-noto-base: 'Noto Sans', sans-serif;

$font-path: '../lib/fonts';
$image-path: '../images';

$color: (
  white: white,
  black: #000,
  blue: #0B2257,
  darkBlue: #255279,
  lightBlue: #11A2CE,
  red: #CC0000,
  gray: #717B93,
  darkGray: #545E67,
  lightGray: #E4EAF0,
  border: #D3DCE5
);

$cubic-bezier: cubic-bezier(0.43, 0.05, 0.17, 1);