.context {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  padding-right: 100px;

  @include viewport($lg) {
    padding: 0 20px;
  }

  @include viewport($xs) {
    padding: 0;
  }

  &-wrap {
    width: 69.12vw;

    @include viewport($lg) {
      width: 100%;
    }

    &>div {
      margin-top: 50px;
    }

    div:first-of-type {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    letter-spacing: 0.12em;
    margin-bottom: 56px;
    font-family: $font-noto-sans;

    @include viewport($md) {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 17px;
    }

    @include viewport($xs) {
      font-size: 22px;
    }

    &::before {
      position: absolute;
      top: -6px;
      left: -40px;
      display: inline-block;
      flex-shrink: 0;
      content: '';
      height: 46px;
      width: 8px;
      background-color: color(blue);
      border-radius: 50px;
      box-shadow: inset 0 -22px 0 0 color(red);

      @include viewport($md) {
        left: -20px;
        height: 31px;
        width: 7px;
        box-shadow: inset 0 -13px 0 0 color(red);
      }
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 56px;
    border-bottom: 1px solid color(lightGray);
    letter-spacing: 0.12em;
    padding-bottom: 20px;
    padding-left: 10px;

    @include viewport($md) {
      font-size: 18px;
      padding-bottom: 11px;
    }

    @include viewport($xs) {
      font-size: 16px;
    }
  }

  p {
    font-size: 16px;
    letter-spacing: 0.05em;
    white-space: pre-line;
    line-height: 1.7;
    margin-bottom: 23px;

    @include viewport($md) {
      font-size: 14px;
      line-height: 2;
      margin: 16px 0 18px;
    }

    @include viewport($xs) {
      font-size: 12px;
    }
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
    position: relative;
  }

  ol {
    gap: 8px 0;
    list-style-type: none;
    counter-reset: item;

    &>li {
      counter-increment: item;

      &:before {
        font-family: $font-noto-base;
        content: counters(item, " - ") ". ";
      }
    }

    & ol {
      margin-top: 9px;
      font-size: 14px;
      padding-left: 15px;
      margin-bottom: 0;
      gap: 6px 0;

      @include viewport($xs) {
        font-size: 12px;
        gap: 8px 0;
      }

      &::before {
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background-color: color(lightGray);
        position: absolute;
      }

      li {
        font-size: 14px;

        @include viewport($xs) {
          font-size: 12px;
        }
      }
    }

    @include viewport($md) {
      gap: 3px 0;
    }
  }

  ul {
    gap: 6px 0;
    list-style-type: none;
    padding-left: 16px;

    & ul {
      padding-left: 11px;
      list-style: none;
      gap: 8px 0;
      margin-top: 7px;
      margin-bottom: 0;

      &:before {
        position: absolute;
        top: 4px;
        left: -15px;
        content: '';
        height: 90%;
        width: 1px;
        background-color: color(border);
      }

      &>li {
        &:before {
          background-color: color(border);
        }
      }
    }

    &>li {
      position: relative;
      font-size: 14px;

      @include viewport($xs) {
        font-size: 12px;
      }

      &:before {
        position: absolute;
        top: 8px;
        left: -15px;
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: color(blue);

        @include viewport($xs) {
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  li {
    font-size: 16px;
    line-height: 1.8;

    @include viewport($md) {
      font-size: 14px;
      letter-spacing: 0.04em;
    }
  }

  &-group {
    display: flex;
    gap: 20px;

    @include viewport($sm) {
      flex-direction: column;
    }

    &-desc {
      width: 100%;
    }

    &-figure {
      width: 47%;
      height: 281px;
      border-radius: 15px;
      overflow: hidden;
      flex-shrink: 0;
      position: relative;

      @include viewport($sm) {
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  h3.context-cluster-title {
    margin-bottom: 40px;
  }

  &-cluster {

    &-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px;
      margin-bottom: 22px;

      @include viewport($sm) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-card {
      display: flex;
      flex-direction: column;
    }

    &-figure {
      height: 272px;
      width: 100%;
      overflow: hidden;
      border-radius: 15px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-label {
      font-size: 14px;
      width: 100%;
      text-align: center;
      margin-top: 15px;
      letter-spacing: 0.1em;
      line-height: 150%;
    }
  }

  &-photo {
    border-radius: 15px;
    width: 100%;
    height: 446px;
    overflow: hidden;
    margin-top: 50px;
    position: relative;

    @include viewport($md) {
      height: 250px;
    }

    img {

      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-slider {
    margin-top: 50px;

    &-figure {
      width: 100%;
      height: 420px;
      border-radius: 15px;
      overflow: hidden;

      @include viewport($md) {
        height: 250px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 30px;
      margin-top: 15px;
    }

    &-list {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0 4px;
      width: auto !important;
      cursor: pointer;

      &-item {
        display: block;
        width: 20px;
        height: 3px;
        background-color: color(lightGray);
        flex-shrink: 0;

        &.is-active {
          background-color: color(blue);
        }
      }
    }

    &-button {
      display: flex;
      width: 29px;
      height: 29px;
      flex-shrink: 0;
      background-color: color(lightGray);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      padding-bottom: 3px;
      cursor: pointer;

      &:hover {
        background-color: color(border);
      }

      svg {
        stroke: color(blue);
        width: 8px;
        height: 8px;
        flex-shrink: 0;
      }
    }

    &-prev {
      transform: scale(-1, -1);
    }

    &-next {}
  }

  &-body {

    tr,
    th,
    td {
      border: 1px solid color(border);
      font-size: 14px;
      height: auto !important;
      letter-spacing: 0.05em;

      @include viewport($md) {
        font-size: 12px;
      }
    }

    th {
      // background-color: color(lightGray);
      // color: color(blue);
      padding: 16px 14px;

      @include viewport($md) {
        padding: 10px 8px;
      }
    }

    tr,
    td {
      padding: 16px 14px;

      @include viewport($md) {
        padding: 10px 8px;
      }
    }

  }

  &-title-description {
    @include viewport($md) {
      padding: 0 10px
    }
  }

  &-title-description-image {
    @include viewport($md) {
      padding: 0 10px
    }
  }

  &-product {
    padding-top: 60px;
  }

  &-request {
    position: fixed;
    background-color: color(red);
    width: 54px;
    height: 191px;
    bottom: 50px;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;

    @include viewport($md) {
      height: 45px;
      width: 176px;
      bottom: 0;
      right: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 10px;
    }

    &-link {
      color: color(white);
      font-size: 14px;
      font-weight: bold;
      writing-mode: tb;
      letter-spacing: 0.345em;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 5px;

      @include viewport($md) {
        writing-mode: unset;
        letter-spacing: 0.1em;
      }
    }

    &-icon {
      width: 15.27px;
      height: 21px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-wrap-table {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 25px;

    &::before {
      content: '← スクロールできます →';
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;

      @include viewport($md) {
        display: inline-block;
      }
    }

    &-inner {
      overflow-x: auto;

      table {
        @include viewport($md) {
          min-width: 750px;
        }
      }
    }
  }
}