.graduate {
  border-top: 1px solid color(border);
  padding-top: 28px;
  margin-top: 111px;

  @include viewport($md) {
    margin-top: 67px;
    padding-top: 35px;
  }

  &-heading {
    font-size: 95px;
    font-family: $font-poppins;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: color(lightBlue);
    gap: 10px 0;

    @include viewport($lg) {
      font-size: 47px;
    }

    span {
      font-family: $font-noto-sans;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.05em;

      @include viewport($lg) {
        font-size: 20px;
      }
    }
  }

  &-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 102px 0 52px;
    gap: 0 50px;
    margin-top: 56px;
    align-items: flex-end;

    @include viewport($lg) {
      padding: 0;
      gap: 10px 25px;
    }

    @include viewport($sm) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 20px;
    }
  }

  &-post {}

  &-label {
    font-size: 16px;
    color: color(blue);
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    gap: 0 8px;
    letter-spacing: 0.002em;
    line-height: 2;

    @include viewport($lg) {
      font-size: 14px;
      letter-spacing: 0.045em;
    }

    &::before {
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: color(blue);
      top: 11px;
      position: relative;
      flex-shrink: 0;
    }
  }

  &-figure {
    border: 2px solid color(border);
    border-radius: 10px;
    height: 120px;
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      display: block;
      flex-shrink: 0;
      width: 165px;
      object-fit: cover;
    }

    &-icon {
      width: 14px;
      height: 12px;
      position: absolute;
      bottom: 19px;
      right: 20px;
      rotate: -45deg;

      svg {
        width: 14px;
        height: 12px;
        stroke: color(lightBlue);
      }
    }
  }
}