.mv {
  // background-color: teal;
  // margin-top: -92px;
  position: relative;
  overflow: hidden;

  &-wrapper {
    overflow: hidden;
    // height: 100vh;
  }

  &-content {
    // height: 100vh;
    position: relative;
  }

  &-navi {

    &-button {
      height: 79px;
      width: 143px;
      background-color: color(white);
      display: flex;
      position: absolute;
      z-index: 3;
      transform: translateY(-50%);
      top: 50%;
      cursor: pointer;
      align-items: center;
      justify-content: center;

    }

    &-prev {
      left: 0;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    &-next {
      right: 0;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    &-icon {
      display: block;
      width: 11px;
      height: 11px;
      transition: transform 300ms $cubic-bezier;

      svg {
        stroke: color(blue);
        width: 100%;
        height: 100%;

        @include viewport($sm) {
          stroke: color(white)
        }
      }
    }
  }

  &-slide {
    height: 580px;
    position: relative;

    @include viewport($md) {
      height: 459px;
      padding-bottom: 10px;
    }

    &-figure {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      @include viewport($md) {
        clip-path: polygon(100% 0%, 0% 0%, 0% 85%, 12% 92%, 26% 97%, 41% 100%, 58% 100%, 74% 97%, 88% 92%, 100% 85%);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-circle {
      position: absolute;
      bottom: 120px;
      right: 196px;
      display: flex;
      width: 233px;
      height: 233px;
      border-radius: 50%;
      background-color: color(white);
      align-items: center;
      justify-content: center;
      animation: pulse 2s infinite;
      // box-shadow: 0 0 0 50px rgba(color(white), 0.5);
      z-index: 1;

      @include viewport($md) {
        width: 160px;
        height: 160px;
      }

      @include viewport($sm) {
        width: 215px;
        height: 58px;
        border-radius: 50px;
        bottom: 10px;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
      }

      &:hover {
        .mv-slide-circle-icon {
          transform: rotate(0);
        }
      }

      &-icon {
        display: block;
        width: 16px;
        height: 14px;
        transform-origin: center center;
        transform: rotate(-45deg);
        transition: transform 300ms $cubic-bezier;

        svg {
          stroke: color(blue);
          width: 100%;
          height: 100%;
        }
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.05em;
      gap: 20px;

      @include viewport($sm) {
        flex-direction: row;
        gap: 7px;
        font-size: 14px;
      }
    }
  }

  &-slider-nav-left,
  &-slider-nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 79px;
    width: 143px;
    z-index: 2;
    cursor: pointer;
    background-color: color(white);

    @include viewport($sm) {
      transform: translate(-50%, 0);
      top: auto;
      bottom: 15px;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: color(blue);
      overflow: hidden;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }

    .swiper {
      pointer-events: none !important;
    }

    .swiper-slide {
      height: 79px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-slider-nav-left {
    left: 0;

    @include viewport($sm) {
      left: 14%
    }

    .mv-slider-nav-text {
      flex-direction: row-reverse;
    }

    .mv-navi-icon {
      scale: -1;
      position: relative;
      top: 4px;

      @include viewport($sm) {
        top: 0;
      }
    }
  }

  &-slider-nav-right {
    right: 0;

    @include viewport($sm) {
      right: auto;
      left: 86%
    }
  }

  &-slider-nav-text {
    display: flex;
    align-items: center;
    gap: 0 5px;

    @include viewport($sm) {
      gap: 0;
    }
  }

  &-orb {
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    position: absolute;
    // transform: translate(-50%, -50%);
    transform: translateY(-50%);
    top: 0;
    left: 0;
    width: 233px;
    height: 233px;
    border-radius: 50%;
    background-color: color(white);
    animation: pulse 2s infinite;
    transition: opacity 300ms $cubic-bezier;
    display: flex;
    align-items: center;
    justify-content: center;

    @include viewport($sm) {
      opacity: 1;
      position: absolute;
      top: auto;
      width: 215px;
      height: 58px;
      border-radius: 50px;
      bottom: 10px;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 1px;
      background-color: blue;

    }

    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include viewport($sm) {
        flex-direction: row;
        gap: 10px;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.05em;

      @include viewport($sm) {
        font-size: 14px;
      }
    }
  }
}