.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
  z-index: 1;

  &-nav {
    display: flex;
    align-items: center;
    color: color(blue);
    font-size: 16px;
    font-weight: 600;
    gap: 0 14px;

    @include viewport($xs) {
      gap: 0 5px;
      font-size: 12px;
    }

    &:hover {
      .pagination-nav-icon {
        background-color: color(border);

        svg {
          stroke: color(blue);
        }
      }
    }

    &-icon {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: color(blue);
      transition: background-color 300ms ease-in-out;

      @include viewport($md) {
        width: 40px;
        height: 40px;
      }

      .pagination-prev & {
        transform: scale(-1, -1);
      }

      svg {
        stroke: color(white);
        width: 16px;
        height: 13px;
        transition: stroke 300ms ease-in-out;

        @include viewport($md) {
          width: 11px;
          height: 14px;
        }
      }
    }
  }

  &-select {
    position: relative;
  }

  &-label {
    position: relative;
    color: color(white);
    background-color: color(blue);
    width: 188px;
    height: 56px;
    border-radius: 50px;
    font-family: $font-poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .is-open & {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @include viewport($md) {
      width: 105px;
      height: 41px;
      gap: 0 5px;
    }

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 10px;

      .previouspostslink,
      .nextpostslink,
      .first,
      .page,
      .extend,
      .last,
      .current {
        display: none;
      }

      .pages {
        border: none;
        font-size: 18px;
      }
    }
  }

  &-page {
    font-size: 18px;
    font-weight: 500;

    @include viewport($md) {
      font-size: 15px;
    }
  }

  &-caret {
    position: absolute;
    top: 44%;
    right: 46px;
    transform: translateY(-50%);
    opacity: 1;
    display: block;
    width: 11px;
    height: 11px;
    rotate: 45deg;
    box-shadow: inset -1px -1px 0 0 color(white);

    @include viewport($md) {
      position: static;
      width: 9px;
      height: 9px;
    }
  }

  &-list {
    position: absolute;
    top: 56px;
    left: 0;
    opacity: 0;
    width: 188px;
    background-color: color(blue);
    pointer-events: none;
    max-height: 200px;
    overflow-y: auto;

    @include viewport($md) {
      width: 105px;
      top: 41px;
    }

    .is-open & {
      opacity: 1;
      pointer-events: auto;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .wp-pagenavi {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      padding: 10px 0;

      .pages,
      .extend,
      .last,
      .first,
      .previouspostslink,
      .nextpostslink {
        display: none !important;
      }

      a,
      span {
        border: none;
        color: color(white);
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
        margin: 0;
      }
    }
  }
}