.related-products {
  padding: 0 16px;
  margin-top: 100px;

  @include viewport($md) {
    padding: 0;
  }

  &-content {
    background-color: color(blue);
    border-radius: 30px;
    padding: 67px 53px 51px;
    position: relative;

    @include viewport($md) {
      padding: 61px 20px
    }
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include viewport($md) {
      justify-content: center;
    }
  }

  &-heading {
    font-size: 24px;
    font-weight: 600;
    color: color(white);
    letter-spacing: 0.13em;
    padding-left: 20px;
    position: relative;

    @include viewport($md) {
      padding-left: 0;
      text-align: center;
      font-size: 20px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 29px;
      width: 4px;
      background: color(white);
      border-radius: 50px;

      @include viewport($md) {
        display: none;
      }
    }
  }

  &-button {
    background-color: color(white);
    flex-direction: row-reverse;
    position: absolute;
    top: 52px;
    right: 57px;

    &:hover {
      background-color: color(red);
      color: color(white);

      svg {
        stroke: color(white);
      }
    }

    @include viewport($md) {
      position: static;
      width: 175px;
      margin: 36px auto 0;
    }

    svg {
      stroke: color(blue);
      transform: scale(-1, -1);
    }
  }

  &-posts {
    margin-top: 85px;

    @include viewport($md) {
      margin-top: 50px;
    }
  }
}