.related-cases {
  border-top: 1px solid color(lightGray);
  padding-top: 22px;
  margin-top: 100px;

  @include viewport($md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-heading {
    color: color(blue)
  }

  &-cards {
    padding-right: 55px;
    margin-top: 40px;

    @include viewport($lg) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &-carousel {
    overflow: visible !important;

    .swiper-slide {
      width: 305px !important;

      @include viewport($xs) {
        width: 280px !important;
      }
    }
  }
}