.slogan {
  position: relative;
  z-index: 1;

  &-content {
    display: flex;
    gap: 0 85px;
    padding-bottom: 100px;
    padding-top: 115px;

    @include viewport($mmd) {
      gap: 0 45px;
      margin-top: 0;
    }

    @include viewport($md) {
      flex-direction: column;
      margin-top: 0;
      align-items: center;
      padding: 49px 0 72px 52px;
    }

    @include viewport($sm) {
      align-items: flex-start;
      margin-top: 23px;
    }

    @include viewport($xs) {
      padding-left: 40px;
    }
  }

  &-heading {
    font-size: 74px;
    font-family: $font-poppins;
    font-weight: bold;
    color: color(blue);
    display: flex;
    flex-direction: column;
    gap: 29px 0;

    @include viewport($lg) {
      font-size: 59px;
      min-width: 450px;
    }

    @include viewport($md) {
      gap: 16px 0;
      padding-left: 0;
      min-width: 0;
    }

    @include viewport($sm) {
      font-size: 39px;
    }

    @include viewport($xs) {
      font-size: 30px;
    }

    &-inner {
      color: color(red);
    }

    span {
      &:nth-of-type(2) {
        padding-left: 31px;
        @include viewport($md) {
          margin-left: 25px;
          padding-left: 0;
        }
      }
    }
  }

  &-desc {
    padding-top: 3px;

    @include viewport($md) {
      padding-top: 28px;
      width: 100%;
    }
  }

  &-par {
    white-space: pre-line;
    color: color(blue);
    line-height: 2.86;
    letter-spacing: 0.036em;
    font-size: 14px;

    @include viewport($md) {
      line-height: 2.5;
      white-space: normal;
    }

    @include viewport($xs) {
      font-size: 12px;
    }

    span {
      text-decoration: underline;
      text-decoration-color: #d3dce5;
      text-underline-offset: 4px;

      @include viewport($md) {
        text-decoration-color: color(blue);
      }
    }
  }
}
