.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    border-radius: 50px;
    font-weight: 500;
    padding: 0 35px;
    letter-spacing: 0.051em;
    gap: 0 14px;
    transition: all 300ms $cubic-bezier;

    &:hover {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px color(blue);
    }

    &-icon {
        width: 12px;
        height: 10px;
        position: relative;
        top: -2px;

        span {
            display: block;
            height: 100%;
            width: 100%;
        }

        svg {
            width: 100%;
            height: 100%;
            stroke: color(red);
        }
    }


}