.header {
  padding-right: 4.6vw;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;

  @include viewport($lg) {
    padding-right: 0;
  }

  &-container {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: color(white);
    padding: 0 2.2vw;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.11);
    position: relative;

    @include viewport($xl) {
      flex-direction: column;
      align-items: flex-start;
      // padding: 0 2.6vw;
      padding: 0;
    }

    @include viewport($md) {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      padding: 0 28px;
    }

    .is-open & {
      @include viewport($xl) {
        border-bottom-right-radius: 0;
      }

      @include viewport($md) {
        border-bottom-right-radius: 30px;
      }
    }
  }

  &-logo {
    @include viewport($xl) {
      padding: 34px 34px;
      width: 100%;
    }

    @include viewport($md) {
      padding: 23px 0 27px;
    }

    &-brand {
      display: block;
      width: 135px;

      @include viewport($md) {
        width: 112px;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    column-gap: 2.5vw;

    @include viewport($xl) {
      width: 100%;
      border-top: 1px solid color(lightGray);
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      transition: all 300ms ease-in-out;
      position: absolute;
      top: 92px;
      left: 0;
      background-color: color(white);
      border-bottom-right-radius: 16px;
    }

    @include viewport($mmd) {
      flex-direction: column;
      align-items: flex-start;
      padding: 24px 33px 40px;
      gap: 21px 0;
    }

    @include viewport($md) {
      display: none;
    }

    .is-open & {
      @include viewport($xl) {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &-links {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }

  &-link {
    background-color: color(red);
    color: color(white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 132px;
    border-radius: 50px;
    font-family: $font-noto-sans;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 2px color(red);
      background-color: transparent;
      color: color(red)
    }
  }
}